body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.hero-section {
    min-height: 600px;
    margin: 0;
    padding: 0;
}

footer p {
    font-size: 30px;
}